*{
    font-family: 'Poppins', sans-serif;
   
}
body{
    margin: 0;
}
.container{
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   margin: 100px auto; 
}

.section_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;

}
.heading_title{
    font-size: 52px;
    margin-bottom: 0;
}
.heading_img{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
   
}
.heading_img img{
    width: 100%;
}
.book_btn{
    background-color: #E02C6D;
    border: none;
    padding: 10px 31px;
    color: white;
    border-radius: 27px;
    font-weight: 500;
}

.logo_section{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) -5px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px -4px 6px -2px;
}
.logo{
padding: 20px;
}
.logo img{
    width: 100%;
}

.popular_title{
    font-size: 28px;
    text-align: center;
}
.popular_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   

}
.products{
    margin: 15px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product {

}
.product img{
width: 100%;
}
.product_details{

}
.product_title{

        font-size: 28px;

        margin-bottom: 1px;
}
.product_price{

    font-size: 24px;

    font-weight: 400;

    margin: 0;
}
.product_rating{
}
.product_ratings{
    color: #FFC014;
}
.product_no_ratings{
    color: #AEAEAE;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 14px;
}
.see_more{
    text-align: end;
    color: #E02C6D;
}


/* feature_section */

.feature_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.feature_details{

}
.feature_title{

}
.join_btn{
    background-color: #E02C6D;
    border: none;
    padding: 10px 31px;
    color: white;
    
    font-weight: 500;
}


/* footer  */
footer{
    
    background-color: #0A0826;
    padding: 100px 0;
}
.footer_heading{
    color: white;
    text-align: center;
}